.nav-school {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  
  }
  
  .nav-school-img {
    width: 15%;
    height: auto;
    border: 1px solid #000;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-school img {
    width: 9%;
    height: 8%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
    #school {
      display: none;
    }
  }
  
  